.stackButtons > button{
    background-color: transparent !important;
    color: black !important;
    border: 2px solid  #7a5c449a !important;
    min-width: 80px;
}

.stackButtons > button:focus {
    background-color: #7A5C44 !important;
    color: white !important; 
}

@media (max-width: 425px) {
    .stackButtons {
        flex-direction: column !important;
       
    }
    .stackButtons > button{
         width: 100% !important;
    }
}
