.stackButtons > button {
  background-color: transparent !important;
  color: black !important;
  border: 2px solid #7a5c449a !important;
  min-width: 80px;
}

.stackButtons > button:focus {
  background-color: #7a5c44 !important;
  color: white !important;
}

@media (max-width: 425px) {
  .stackButtons {
    flex-direction: column !important;
  }
  .stackButtons > button {
    width: 100% !important;
  }
}
.botaoAdicionar {
  background-color: #7a5c44 !important;
  border: none !important;
  margin: 0 0 0 45px !important;
}
