.navbar {
  display: flex;
  width: 100% !important;
  border-bottom: 3px rgb(139, 80, 62) !important;
}

.stackGeral {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.logo {
  max-width: 70px;
}

.botoesMeio > button {
  background-color: unset;
  color: unset !important;
  border: unset !important;
}

.botoesMeio > button:hover {
  background-color: rgba(184, 183, 183, 0.397) !important;
}

.botaoAtivo {
  background-color: rgba(184, 183, 183, 0.397) !important;
  border: none !important;
  font-size: 20px !important;
}

.botaoCheckin {
  background-color: rgb(126, 79, 52) !important;
  border: none !important;
}

.botaoSair {
  border: 1px solid rgb(126, 79, 52) !important;
  background-color: transparent !important;
  color: black !important;
}

.botaoSair:hover {
  border: 1px solid rgba(126, 79, 52, 0.712) !important;
  background-color: transparent;
  color: black !important;
}



.dropdownMenu > a > button{
    background-color: unset ;
    border: unset;
    color: black
}

@media (max-width: 1024px){
    .botoesMeio {
        display: none !important;
    }
    .botoesFim {
        display: none !important;
    }
}

