.tabela {
    border: 3px solid #aa8d754f !important;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px !important;
    overflow: hidden;
}

.tabelaHeader {
  background-color: #aa8d7559 !important;
  color: rgb(99, 99, 99) !important;
  padding: 15px !important;
}

.spanConfirmacao{
  background-color: #3dd66348;
  color:  #12e647;
  padding: 6px;
  border-radius: 10px;
  font-weight: bold;
}

.spanPendente {
  background-color: #c7d63d2f;
  color:  #b8e612;
  padding: 6px;
  border-radius: 10px;
  font-weight: bolder;
}

.spanCancelado{
background-color: #d63d5148;
  color:  #e61224;
  padding: 6px;
  border-radius: 10px;
  font-weight: bold;
}